* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

input[type="text"] {
  width: 100%;
  height: 36px;
  padding: 0 15px;
  border-radius: 18px;
  border: none;
  background: #fff;
}

button {
  border: none;
  border-radius: 18px;
  height: 36px;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  background: #63afeb;
  color: #20272c;
  transition: 0.1s all;
}

button:hover {
  background: #5499ce;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 30px;
  min-height: 100vh;
}
